@charset "UTF-8";

/*Demais midias*/
/*Typical Device Breakpoints
    pequenas telas: - 600px
    celular: 600px - 768px
    tablet: 768px - 992px
    Desktop: 992px -  1200px
    grandes telas: acima de 1200px
*/
@media print { /*impressão*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imgs/back-print.jpg);
    }
    main {
        border: 1px solid black;
    }
    main > h1 {
        color: black;
        text-shadow: none;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet*/
    body {
        background-image: url(../imgs/back-tablet.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    body {
        background-image: url(../imgs/back-pc.jpg);
    }
    main {
        width: 500px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;} 
}

@media screen and (min-width: 1200px) { /*grandes telas*/
    body {
        background-image: url(../imgs/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}