@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 80vw;
        height: 260px;
    }

    #img {
        float: left;
        width: 30%;
        height: 100%;
    }

    #form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
        width: 950px;
        height: 300px;
    }

    #img {
        float: right;
        width: 40%;
        height: 100%;
    }

    #form {
        float: left;
        width: 60%;
    }

    #form > h1 {
        font-size: 2em;
    }

    #form > p {
        margin: 20px 0;
        font-size: 1em;
    }
}